body {
    background: url(../images/createGamebg.jpeg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ;
}


/*////*/
/*Logo*/
/*////*/

#logo {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    width: 5%;
    color: white;
    padding: 10px;
    margin: 10px 10px;
}


/*//////////////*/
/*Hamburger Menu*/
/*//////////////*/

header {
    width: 47px;
    background: #1d1f20;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 0px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.cross {
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 0px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.menu {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 33%;
    background: #131313;
    position: relative;
    text-align: center;
    float:right;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #1d1f20 1px solid;
}

.menu li:hover {
    display: block;
    background: #181818;
    padding: 15px 0 15px 0;
    border-bottom: #1d1f20 1px solid;
}

.menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: #fff;
}

.menu ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    text-decoration: none;
    color: white;
}

.glyphicon-home {
    color: white;
    font-size: 1.5em;
    margin-top: 5px;
    margin: 0 auto;
}

/*///////////*/
/*News scroll*/
/*///////////*/

#weatherScroll {
    margin-top:100px;
}


/*//////////*/
/*Left panel*/
/*//////////*/

.form-group {
    margin-bottom:22px;
}


/*/////////*/
/*Drop Down*/
/*/////////*/

.dropdown-menu{
    width: 100%;

}
.btn{
    width: 100%;
}
#dropdownMenu2{
    margin-top: 20px;
    margin-bottom: 20px; 
}

.panel-transparent{
    background: none;
}

.panel-transparent .panel-heading {
    background: rgba(255, 255, 255, 0.5);
}

.panel-transparent .panel-body {
    background: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}