/* LANDING PAGE */

/*Body Styling*/

body.landing-page {
    background: linear-gradient( rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url(../images/basketballBG.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ;
}

body.findGameBody {
    background: linear-gradient( rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url(../images/soccerBg.jpeg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ;
}

/*Main Homepage Text*/

#homeTextContainer {
    text-align: center;
    position: fixed;
    width: 50%;
    top: 20%;
    left: 25vw;
    right: 25vw;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);

    /*transform: translateY(50%);*/

}

#homeTitle {
    font-family: 'Shadows Into Light', cursive;
    font-size: 15em;
}

#homeTagline {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
}

.navbar-link-author {
    height: 60px;
    color: #fff;
    line-height: 30px;
}

/*Hamburger Menu*/

header {
    width: 47px;
    background: #1d1f20;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 0px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.cross {
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 0px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.menu {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 33%;
    background: #131313;
    position: relative;
    text-align: center;
    float:right;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #1d1f20 1px solid;
}

.menu li:hover {
    display: block;
    background: #181818;
    padding: 15px 0 15px 0;
    border-bottom: #1d1f20 1px solid;
}

.menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: #fff;
}

.menu ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    text-decoration: none;
    color: white;
}

.glyphicon-home {
    color: white;
    font-size: 1.5em;
    margin-top: 5px;
    margin: 0 auto;
}

/* all links */
a {
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

/*Buttons*/

.button {
    /*background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.createGameBtn {
    background-color: transparent;
    color: black;
    border: 2px solid black;
}

.findGameBtn {
    background-color: transparent;
    color: black;
    border: 2px solid black;
}

.createGameBtn:hover {
    background-color: #555555;
    color: white;
    border none;
}

.findGameBtn:hover {
    background-color: #555555;
    color: white;
    border none;
}


/*Footer*/

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

@media screen and (max-width:970px){
    #homeTitle{
        font-size: 10em;
    }
}

@media screen and (max-width:686px){
    #homeTitle{
        font-size: 8.5em;
    }
      #homeTagline{
        font-size: 2em;
    }
}

@media screen and (max-width:500px){
    #homeTitle{
        font-size: 7em;
    }
    #homeTagline{
        font-size: 2em;
    }
}
@media screen and (max-width:476px){
    #homeTitle{
        font-size: 5em;
    }
    #homeTagline{
        font-size: 2em;
    }
}


/* CREATE GAME PAGE STYLES */

.navbar-default {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

body.createGameBody {
    background: url(../images/createGamebg.jpeg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ;
}

#logo {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    width: 5%;
    color: white;
    padding: 10px;
    margin: 10px 10px;
}

.create-game-map {
    border: 2px solid #000;
    border-radius: 2px;
}

#temp-warning,
#wind-warning {
    font-size: 1.5em;
    color: #fff;
    line-height: 49px;
}

/*#weather-scroll-div {
    white-space:no-wrap;
    overflow:hidden;
}
#weather-scroll-div > .scrolling-text {
    white-space:nowrap;
    display:inline;
    width:auto;
}*/

#weather-info-div {
    height: 440px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
}

.weather-data {
    font-size: 1em;
    margin: 5% 0;
}

/*Hamburger Menu*/

header {
    width: 47px;
    background: #1d1f20;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 0px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.cross {
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 0px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.menu {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 33%;
    background: #131313;
    position: relative;
    text-align: center;
    float:right;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #1d1f20 1px solid;
}

.menu li:hover {
    display: block;
    background: #181818;
    padding: 15px 0 15px 0;
    border-bottom: #1d1f20 1px solid;
}

.menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: #fff;
}

.menu ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    text-decoration: none;
    color: white;
}

.glyphicon-home {
    color: white;
    font-size: 1.5em;
    margin-top: 5px;
    margin: 0 auto;
}

/*WEATHER SCROLLER DIV*/
#weather-scroll-div {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
}

/*Drop Down*/

.dropdown-menu{
    width: 100%;

}
.btn{
    width: 100%;
}
#dropdownMenu2{
    margin-top: 20px;
    margin-bottom: 20px; 
}

.panel-heading {
    background-color: #337ab7;
}

.panel-transparent{
    background: none;
}

.panel-transparent {
    background: rgba(255, 255, 255, 0.5);
}

.panel-transparent .panel-body {
    background: rgba(255, 255, 255, 0.5);
}

/* ADDED BY DERRICK 6-13-2016 */
.form-control {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

:-ms-input-placeholder {  
    text-align: center; 
}


/* ADDED BY DERRICK 6-13-2016 */

/* STYLING THE DATEPICKER CALENDAR */
/*.ui-datepicker {
    background-color: #fff;
    padding: 10px;
}

.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-title {
    margin-top: 10px;
}

.ui-datepicker-group {
    display: inline-block;
}*/

/* MAP STYLES */
#basketball-map,
#soccer-map,
#disc-golf-map {
    display: none;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* Create Game CSS */
body.createGame {
    background: url(../images/createGamebg.jpeg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ;
}

#logo {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    width: 5%;
    color: white;
    padding: 10px;
    margin: 10px 10px;
    line-height: 15px;
}

.form-group{
    margin-bottom: 22px;
}

/*Hamburger Menu*/

header {
    width: 47px;
    background: #1d1f20;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 0px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.cross {
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 0px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.menu {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 33%;
    background: #131313;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    float:right;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #1d1f20 1px solid;
}

.menu li:hover {
    display: block;
    background: #181818;
    padding: 15px 0 15px 0;
    border-bottom: #1d1f20 1px solid;
}

.menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: #fff;
}

.menu ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    text-decoration: none;
    color: white;
}

.glyphicon-home {
    color: white;
    font-size: 1.5em;
    margin-top: 5px;
    margin: 0 auto;
}

/*Drop Down*/

.dropdown-menu{
    width: 100%;

}
.btn{
    width: 100%;
}
#dropdownMenu2{
    margin-top: 20px;
    margin-bottom: 20px; 
}

.panel-transparent{
    background: none;
}

.panel-transparent {
    background: rgba(255, 255, 255, 0.5);
}

.panel-transparent .panel-body {
    background: rgba(255, 255, 255, 0.5);
}

/* ADDED BY DERRICK 6-13-2016 */
.form-control {
    text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
