/***************************************************************/
/*Body Stylings*/
/***************************************************************/

body.landing-page {
    background: url(../images/basketballBG.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ;
}

body.findGameBody {
    background: url(../images/soccerBg.jpeg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ;
}

body.createGame {
    background: url(../images/createGamebg.jpeg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Main Homepage Text*/

#homeTextContainer {
    text-align: center;
    position: fixed;
    width: 50%;
    top: 20%;
    left: 25vw;
    right: 25vw;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding-bottom: 50px;
}

#homeTitle {
    font-family: 'Shadows Into Light', cursive;
    font-size: 15em;
}

#homeTagline {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    color: #000;
}

.navbar-link-author {
    height: 60px;
    color: #fff;
    line-height: 30px;
}


/***************************************************************/
/*Navbar Styles*/
/***************************************************************/
.navbar-default {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    border:none;
}

#logo {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    width: 5%;
    color: white;
    padding: 10px;
    margin: 10px 10px;
    line-height: 15px;
}

/* all links */
a {
    display: inline-block;
}

.navbar a:hover {
    text-decoration: none;
    border-bottom: 3px solid white;
    transition: color 1s;
}

.navbar a {
    color:white;
}

a:active {
    color:white;
}



/***************************************************************/
/*Buttons*/
/***************************************************************/

.button {
    /*background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.createGameBtn {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}

.findGameBtn {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}

.createGameBtn:hover {
    background-color: #555555;
    color: white;
    border none;
}

.findGameBtn:hover {
    background-color: #555555;
    color: white;
    border none;
}

/***************************************************************/
/*Footer*/
/***************************************************************/

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    text-align: center;
    font-size:0.7em;

}

/***************************************************************/
/*Media Queries*/
/***************************************************************/

@media screen and (max-width:970px){
    #homeTitle{
        font-size: 10em;
    }
}

@media screen and (max-width:686px){
    #homeTitle{
        font-size: 8.5em;
    }
      #homeTagline{
        font-size: 2em;
    }
}

@media screen and (max-width:500px){
    #homeTitle{
        font-size: 7em;
    }
    #homeTagline{
        font-size: 2em;
    }
}
@media screen and (max-width:476px){
    #homeTitle{
        font-size: 5em;
    }
    #homeTagline{
        font-size: 2em;
    }
}

/***************************************************************/
/*Create Game styles*/
/***************************************************************/

.create-game-map,
.find-game-map,
.show-game-map {
    border: 2px solid #000;
    border-radius: 2px;
}

#temp-warning,
#wind-warning {
    font-size: 1.5em;
    color: #fff;
    line-height: 49px;
}

#weather-info-div {
    height: 440px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
}

.weather-data {
    font-size: 1em;
    margin: 5% 0;
}

/***************************************************************/
/*Weather warning div*/
/***************************************************************/
#weather-pulse-div {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin: 10px;
}


/*Drop Down*/

.dropdown-menu{
    width: 100%;

}
.btn{
    width: 100%;
}
#dropdownMenu2{
    margin-top: 20px;
    margin-bottom: 20px; 
}

.panel-heading {
    background-color: #337ab7;
}

.panel-transparent{
    background: none;
}

.panel-transparent {
    background: rgba(255, 255, 255, 0.5);
}

.panel-transparent .panel-body {
    background: rgba(255, 255, 255, 0.5);
}

.form-control {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

:-ms-input-placeholder {  
    text-align: center; 
}


/* MAP STYLES */
#basketball-map,
#soccer-map,
#disc-golf-map {
    display: none;
    border:none;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.form-group{
    margin-bottom: 22px;
}


/***************************************************************/
/*Individual game holder for 'Find a game'*/
/***************************************************************/
.live-game {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    border: 5px solid red;
}

h4 {
    margin: 0;
    color: yellow;
}

p {
    margin: 0;
    color: #fff;
    font-size: 2em;
}

#map-holder {
    position: fixed;
}

/*ADDED SOME STYLING TO MAKE IT MATCH*/

#weather-info-div h4{
    background-color: none;
    color: white;
}

#weather-info-div, .panel-default>.panel-heading, .panel-transparent .panel-body, .form-control{
     background-color: rgba(0, 0, 0, 0.7);
     color: white;
}

 #dropdownMenu1{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
 }

  .dropdown-menu>li>a, .open>.dropdown-menu, .dropdown-header { 
    background-color: #333;
    color: white;
 }